#grid {
    position: absolute;
    margin-left: 12px;
    display: grid;
    grid-gap: 0px;
    border: 2px solid black;
}

.grid-image{
    position: absolute;
    top: 0;
}

input {
    border: 2px solid black;
    background: transparent;
    background-color: #D8A694;
    display: inline-block;
    width: 64px;
    height: 64px;
    text-align: center;
    font-size: 50px;
    color: white;
}

input[readonly] {
    border: 2px solid #000000;
    background-color: #B79EA1;
    font-weight: bold;
    color: black;
}

.row {
    display: flex;
}

.row-q1, .row-q2, .row-q3 {
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-top: 4px solid black;
}

.col-q1, .col-q2, .col-q3 {
    border-left: 3px solid black;
    border-right: 3px solid black;
    display: flex;
}

.button {
    position: absolute;
    top: 700px;
}

#reset-button, #check-button {
    width: 128px;
    height: 64px;
}