#grid {
    position: absolute;
    top: 10px;
    margin-left: 12px;
    display: grid;
    grid-gap: 0px;
}

.grid-image{
    position: absolute;
    top: 0;
}

input {
    border: 2px solid #000000;
    background: transparent;
    display: inline-block;
    width: 60px;
    height: 64px;
    text-align: center;
}

.row {
    display: flex;
}

.button {
    position: absolute;
    top: 700px;
}

#reset-button, #check-button {
    width: 128px;
    height: 64px;
}